<strong>Hello, {{ provider }}</strong>
<p>There has been a cancellation on an appointment. Please check the details bellow:</p>
<p>
  <strong>Client:</strong> {{user}}<br />
  <strong>Date/Time:</strong> {{date}}<br />
<br />
<small>
  This time slot is already available for new scheduling.
</small>
</p>